<ion-view view-title="{{detail.title}}">
        <ion-content>

                <div class="list animate-fade-slide-in-right">

                        <div class="item item-thumbnail-left">  

                        <div class="thumbnaildetail">
                                <img ng-src="{{detail.thumbnail}}" class="portrait"/>
                        </div>

                        </div>


                        <div class="item">  
                                <label style="zoom: 1.3;" class="product-name">{{detail.title}}</label>
                                    </div>

                                    <div class="item">  
                                            <label style="zoom: 1.3;" class="product-weight">{{detail.weight}}</label>
                                                </div>
            
                                                <div class="item">  
                                                    <hr>
                                                    </div>

                        <div class="item">  
                        <h1 class="product-price" style="zoom: 1.3;">${{detail.price}}</h1>
                            </div>
                        <div class="item">
                        <button class="button button-full button-assertive-900">
                                ADD TO CART
                            </button>
                            </div>

                    <div ng-repeat="item in descriptions ">
                    <div class="item">
                        <h2 class="product-weight">{{item.name}}</h2>
                    </div>

                    <label class="item item-text-wrap">{{item.content}}</label>
                    </div>


                  
                </div>
               
          
        </ion-content>
    </ion-view>
    